body {
    margin: 0px;
    padding: 0px;
}

.dark-background {
    background-color: #1F2937;
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    font-family: sans-serif;
}


.secondary-text-black {
    font-size: 18px;
    color: #1f2937;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    font-family: sans-serif;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 124px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    font-family: sans-serif;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 16px;
}

li {
    text-decoration: none;

}

.card {
    display: flex;
    padding: 124px;
    /* padding-top: px; */
    /* padding-bottom: 124px; */
    gap: 16px;
    justify-content: center;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40%;
}

.image-big {
    flex: 1;
    /* width: 300px; */
    /* min-width: 500px; */
    max-width: 550px;
}

.card-button {
    max-width: fit-content;
    padding: 8px;
    font-size: 18px;
    color: #ffffff;
    background-color: #3882f6;
}

.img-small {
    width: 100px;
    height: fit-content;
}

.card-white {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.grid {
    display: flex;
    gap: 16px;
    padding: 48px;
}

.card-small {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-bg {
    background-color: #e5e7eb;
    padding: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    max-width: 60%;
}

.quote-txt {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-family: sans-serif;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}

.call {
    margin-left: 84px;
    margin-right: 84px;
    margin-top: 64px;
    margin-bottom: 64px;
    background-color: #3882f6;

    display: flex;
    border-radius: 14px;
    padding: 84px;

    justify-content: space-around;
    align-items: center;

}

.call-button {
    max-width: fit-content;
    padding: 8px;
    font-size: 18px;
    color: #ffffff;
    border-color: white;
    background-color: #3882f6;
    border-radius: 6px;
    border-width: 4px;
    border-style: solid;
    height: fit-content;
}

footer {
    font-weight: bold;
    padding: 16px;
    display: flex;
    justify-content: center;
}